@using CF.Web.AspNetCore.Models.Shared
@model EditorTagHelperViewModel
<div>
    <label asp-for-editor="Model" />
    <input asp-for-editor="Model" />
    <span asp-validation-for-editor="Model" />
</div>