@using CF.Web.Models.Home
@model TestViewModel
<div>Flag</div>
<editor asp-for="Flag" name="FormGroup" />
<div>Text</div>
<editor asp-for="Text" name="FormGroup" />
<div>Today</div>
<editor asp-for="Today" name="FormGroup" />
