@using CF.Common.Messaging
@inject IScopedMessageRecorder ScopedMessageRecorder
@inject IScopedRedirectMessageRecorder RedirectMessageRecorder
<div class="container-fluid">
</div>
@foreach (var message in RedirectMessageRecorder.InboundMessages)
{
    <span>Result Messages:</span>
    <div class="row">
        <div class="col">
            @message.Text;
        </div>
    </div>
}
@foreach (var message in ScopedMessageRecorder.Messages)
{
    <span>Operation Messages:</span>
    <div class="row">
        <div class="col">
            @message.Text;
        </div>
    </div>
}
<script>
    CF.Messaging = CF.Messaging || {};
    CF.Messaging.severityValueByName = {};
@foreach (var messageSeverity in Enum.GetValues(typeof(MessageSeverity)))
{
    <text>CF.Messaging.severityValueByName["@messageSeverity"] = @((int)messageSeverity);</text>

}
</script>