@using CF.Common.Dto.Messaging
@using CF.Common.Messaging
@inject IScopedMessageRecorder ScopedMessageRecorder
@{
    ViewData["Title"] = "Error";
    var correlationId = ViewData["CorrelationId"] as string;
    var validationMessages = ScopedMessageRecorder?.Messages ?? new Message[] { };
}

<h1 class="text-danger">Error.</h1>
@foreach (var validationMessage in validationMessages)
{
    <p>
        @validationMessage
    </p>
}
@if (!validationMessages.Any())
{
    <p>
        An unexpected error occurred. Please contact your system administrator with the following correlation code: @correlationId.
    </p>
}